<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container">
  
  <form action="">
    <label for="name" class="form-label mt-3">Name</label>
    <input type="text" placeholder="Name" id="name" name="name" class="form-control">
    <label for="location" class="form-label mt-3">Location</label>
    <input type="text" placeholder="location" id="location" name="location" class="form-control">
    <label for="phone" class="form-label mt-3">Phone</label>
    <input type="text" placeholder="Phone number" id="phone" name="phone" class="form-control">
    <label for="description" class="form-label mt-3">Description</label>
    <textarea type="text" placeholder="Write something..." id="description" name="description" class="form-control"></textarea>
    <label for="image" class="form-label mt-3">Image</label>
    <input type="text" placeholder="" id="image" name="image" class="form-control">
    <button type="submit" class="btn btn-success mx-auto mt-3">Add</button>
    <a href="/" class="d-flex justify-content-end">All Restaurants</a>
  </form>

</div>